__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.git/
.gitignore
.gitattributes
README.md
tests/
*.log
*.sqlite
instance/
.DS_Store
.idea/
.vscode/
*.swp
*.swo
coverage.xml
htmlcov/
.pytest_cache/
.ropeproject/
*.db
*.sqlite3
uploads/